/* line 6, ../sass/login.scss */
body.login {
  background: url("../img/bgnoise.png"); }
  /* line 12, ../sass/login.scss */
  body.login h1 a {
    background: none;
    height: auto; }
  /* line 19, ../sass/login.scss */
  body.login #loginform {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    border: none; }
    /* line 24, ../sass/login.scss */
    body.login #loginform:before {
      color: #48556e;
      content: "Sign In";
      display: block;
      font-family: "Arial", sans-serif;
      font-size: 2em;
      margin-bottom: 20px;
      text-align: center;
      text-shadow: 0 1px 0 #fff;
      width: 100%; }
    /* line 36, ../sass/login.scss */
    body.login #loginform .input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 1em;
      margin: 5px 0 15px 0;
      padding: 10px; }
    /* line 44, ../sass/login.scss */
    body.login #loginform .button-primary {
      float: left !important;
      font-size: 0.9em !important;
      padding: 5px 7px !important; }
    /* line 51, ../sass/login.scss */
    body.login #loginform .forgetmenot {
      padding: 5px 0;
      float: right !important; }
  /* line 57, ../sass/login.scss */
  body.login #backtoblog {
    display: none; }

/* line 64, ../sass/login.scss */
.button, body.login #loginform .button-primary {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 1px 0px #dddddd;
  -moz-box-shadow: 2px 2px 1px 0px #dddddd;
  box-shadow: 2px 2px 1px 0px #dddddd;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, white 46%, #f6f6f6 51%, #f6f6f6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(46%, white), color-stop(51%, #f6f6f6), color-stop(100%, #f6f6f6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, white 46%, #f6f6f6 51%, #f6f6f6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, white 46%, #f6f6f6 51%, #f6f6f6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, white 46%, #f6f6f6 51%, #f6f6f6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 46%, #f6f6f6 51%, #f6f6f6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #999;
  color: #777;
  font-weight: bold;
  margin: 0;
  min-width: 100px;
  padding: 7px 10px;
  text-shadow: 0 1px 0 #fff; }
  /* line 84, ../sass/login.scss */
  .button:hover, body.login #loginform .button-primary:hover {
    background: #f6f6f6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f6f6f6 0%, #f6f6f6 46%, #ececec 51%, #ececec 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(46%, #f6f6f6), color-stop(51%, #ececec), color-stop(100%, #ececec));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #f6f6f6 46%, #ececec 51%, #ececec 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f6f6 0%, #f6f6f6 46%, #ececec 51%, #ececec 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f6f6 0%, #f6f6f6 46%, #ececec 51%, #ececec 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f6f6f6 0%, #f6f6f6 46%, #ececec 51%, #ececec 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ececec',GradientType=0 );
    /* IE6-9 */
    cursor: pointer; }
  /* line 96, ../sass/login.scss */
  .button:active, body.login #loginform .button-primary:active {
    background: #c3c3c3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #c3c3c3 0%, #c3c3c3 50%, #cbcbcb 51%, #cbcbcb 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c3c3c3), color-stop(50%, #c3c3c3), color-stop(51%, #cbcbcb), color-stop(100%, #cbcbcb));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c3c3c3 0%, #c3c3c3 50%, #cbcbcb 51%, #cbcbcb 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c3c3c3 0%, #c3c3c3 50%, #cbcbcb 51%, #cbcbcb 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c3c3c3 0%, #c3c3c3 50%, #cbcbcb 51%, #cbcbcb 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #c3c3c3 0%, #c3c3c3 50%, #cbcbcb 51%, #cbcbcb 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c3c3', endColorstr='#cbcbcb',GradientType=0 );
    /* IE6-9 */ }
